.main {
  max-width: 562px;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 64px;
  padding: 0px 10px;
}

.input {
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  width: 25%;
  height: 100%;
}

.result{
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: top;
}

.table{
  width: 100%;
  border-collapse: collapse;
}